.slider {
  max-width:100%;
  min-width:100%;
  position:relative;
  margin:auto;
}
.slider-panel {
  display: none;
}
.onceki, .sonraki {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.5);
}
.sonraki {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.onceki:hover, .sonraki:hover {
  background-color: rgba(0,0,0,0.9);
}
.yazi-resim {
  max-width:100%;
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 97.5%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}
.numara {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

